<%# navigation template partial %>

        <header class="mainHead">

            <nav class="mainHead__nav">
                <ul class="mainHead__navList">
                    <li class="mainHead__navListItem">
                        <a class="mainHead__navLink" href="/">User List</a>
                    </li>
                    <li class="mainHead__navListItem">
                        <a class="mainHead__navLink" href="/admin/add-user">Add a User</a>
                    </li>
                </ul>
            </nav>  <%# END navigation %>

        </header>   <%# END header content %>
