<%# EJS navigation bar include %>

        <header>

            <nav>
                <ul>
                    <li>
                        <a href="/">Add User</a>
                    </li>
                    <li>
                        <a href="/users">User List</a>
                    </li>
                </ul>
            </nav>

        </header>
