<%# EJS navigation bar include %>

        <header class="mainHead">

            <nav class="mainHead__nav">
                <ul class="mainHead__navList">
                    <li class="mainHead__navListItem">
                        <a class="mainHead__navLink" href="/">Add User</a>
                    </li>
                    <li class="mainHead__navListItem">
                        <a class="mainHead__navLink" href="/users">User List</a>
                    </li>
                </ul>
            </nav>      <!-- END nav -->

        </header>   <!-- END header -->
