/* header.css: Styling for app header and navigation */

.mainHead  {
    margin: 0;
    padding: 0;
    height: 75px;
    background-color: #ffdC9f;
    padding: 0.25rem 2rem;
}

.mainHead__nav  {
    margin-top: 0.125rem;
    margin-left: 2.5rem;
}

.mainHead__navList  {
    display: flex;
    width: 275px;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding-top: 2.5rem;
}

.mainHead__navListItem  {
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 23px;
}

.mainHead__navLink  {
    text-decoration: none;
    color: #f9853c;
    padding: 6px 15px;
}

.mainHead__navLink:hover {
    font-weight: 800;
    text-decoration: underline;
    background-color: snow;
    border-radius: 15px;
    transition: all 1s;
}

.selected {
    font-weight: 900;
    letter-spacing: 1.5px;
    background-color: snow;
    border-radius: 15px;
    padding-top: -2.5rem;
    color: #a84f17;
}