/* main.css: Contains main styling for the User List App */

/* Typeface for Headers, Etc. */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:500,700,800,900,900i&display=swap&subset=latin-ext');

/* Typeface for Body Type */

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600,600i,700,700i&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 20px;
}

h1, h2, h3,
h4, h5, h6  {
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
}

main {
    margin: 1.5rem 5rem 0 5rem;
}

.error {
    color: #ff0000;
    font-size: 2rem;
    font-variant: small-caps;
}

.error404 {
    font-weight: 700;
    font-size: 1.75rem;
    font-variant: small-caps;
}

