/* CSS Styling for User List */

.userComponent  {
    width: 50%;
    min-height: 300px;
    padding: 35px 25px;
    border: 2px dotted orangered;
    border-radius: 12px;
    background-color: rgba(255, 220, 159, 0.35);
}

.userComponent__header  {
    font-weight: 800;
    font-size: 2.75rem;
    letter-spacing: 1.25px;
    color: orangered;
    text-shadow: 2px 2px 3px #c0c0c0;
    letter-spacing: 1.25px;
    border-bottom: 2px groove orangered;
    padding-bottom: 3px;
    margin-bottom: 50px;
}

.iconSpace  {
    padding-left: 15px;
}

.userList  {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 35px;
    list-style-image: url('../images/chevron-circle-right-solid.png');
    font-size: 22px;
    font-weight: 600;
}

.userList__item  {
    margin: 9px 0;
}

.addUser  {
    text-decoration: none;
    width: 150px;
    border: 3px outset #c0c0c0;
    border-radius: 12px;
    padding: 3px 12px;
    background-color: lightsalmon;
    color: white;
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.addUser:hover  {
    background-color: white;
    color: orangered;
    border-style: inset;
    font-weight: 900;
    font-size: 23px;
    box-shadow: 3.5px 2.5px 3px #c0c0c0;
    transition: all 0.75s ease-in-out;
}

.noUsers  {
    color: orangered;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.25px;
    text-shadow: 2px 2px 2px orange;
    margin-bottom: 50px;
}
