<%# 404 Error Page EJS Template %>

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title><%= docTitle %></title>


    </head>

    <body>

        <header>

            <nav>
                <ul>
                    <li>
                        <a href="/">Add User</a>
                    </li>
                    <li>
                        <a href="/users">User List</a>
                    </li>
                </ul>
            </nav>

        </header>

        <main>

            <h1>Error 404: Page Not Found!</h1>

        </main>
        
    </body>

</html>
