<%# Add User EJS Template %>

        <%- include('includes/head.ejs'); %>

        <link rel="stylesheet" href="/css/add-user-form.css">

        <!-- FontAwesome for Icons -->

        <script src="https://kit.fontawesome.com/9d5c1d7424.js" crossorigin="anonymous"></script>

    </head>

    <body>

        <%- include('includes/navigation.ejs'); %>

        <main>

            <form class="addUser" action="/admin/add-user" method="POST">
            
                <h1 class="addUser__head"><span class="iconSpace"><i class="far fa-user"></i></span> Add a User</h1>

                <div class="control-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" name="fullName" id="fullName" />
                </div>

                <div class="control-group">
                    <button type="submit">Add User</button>
                </div>
            
            </form> <!-- END form -->
            
        </main>     <!-- END main -->

    <%- include('includes/end.ejs'); %>
