<%# Add User EJS Template %>

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title><%= docTitle %></title>

        <link rel="stylesheet" href="/css/main.css" />

        <link rel="stylesheet" href="/css/header.css" />

    </head>

    <body>

        <header class="mainHead">

            <nav class="mainHead__nav">
                <ul class="mainHead__navList">
                    <li class="mainHead__navListItem">
                        <a class="mainHead__navLink" href="/">Add User</a>
                    </li>
                    <li class="mainHead__navListItem">
                        <a class="mainHead__navLink" href="/users">Add a User</a>
                    </li>
                </ul>
            </nav>

        </header>

        <main>

            <form action="/admin/add-user" method="POST">
            
                <h1><i class="far fa-user"></i> Add a User</h1>

                <div class="control-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" name="fullName" id="fullName" />
                </div>

                <div class="control-group">
                    <button type="submit">Add User</button>
                </div>
            
            </form>
            
        </main>
        
    </body>

</html>
