<!DOCTYPE html>

<!-- Temporary Users Template: to be converted to EJS -->

<html lang="en">

    <head>

        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title>User List</title>

        <link rel="stylesheet" href="/css/main.css" />

        <link rel="stylesheet" href="/css/header.css" />

    </head>

    <body>

        <header class="mainHead">

            <nav class="mainHead__nav">
                <ul class="mainHead__navList">
                    <li class="mainHead__navListItem">
                        <a class="mainHead__navLink" href="/">User List</a>
                    </li>
                    <li class="mainHead__navListItem">
                        <a class="mainHead__navLink" href="/admin/add-user">Add a User</a>
                    </li>
                </ul>
            </nav>

        </header>

        <main>

            <h1>User List</h1>
            
            <ul>
                <li>Robert Hieger</li>
                <li>Alyssa Samuels</li>
                <li>Brian Nevins</li>
                <li>Ashley Roberts</li>
            </ul>

            <a href="/admin/add-user/">Add a User</a>

        </main>
        
    </body>

</html>
