<%# User List EJS Template %>

<%- include('includes/head.ejs'); %>

        <link rel="stylesheet" href="/css/user-list.css">

        <!-- FontAwesome for Icons -->

        <script src="https://kit.fontawesome.com/9d5c1d7424.js" crossorigin="anonymous"></script>

    </head>

    <body>

        <%- include('includes/navigation.ejs'); %>

        <main>

            <div class="userComponent">

                <h1 class="userComponent__header">
                    User List
                    <span class="iconSpace"><i class="far fa-user"></i></span>
                </h1>

                <% if (users.length > 0) { %>
                
                    <ul class="userList">
                        <% for (let user of users) { %>
                            <li class="userList__item"><%= user.name %></li>
                        <% } %>
                    </ul>

                <% } else { %>

                    <h1>No Users Found!</h1>

                <% } %>

                <a class="addUser" href="/">add a user</a>

            </div>  <!-- END userComponent -->

        </main>     <!-- END main -->
        
    <%- include('includes/end.ejs'); %>
