<%# User List EJS Template %>

<%- include('includes/head.ejs'); %>

        <link rel="stylesheet" href="/css/user-list.css">

        <!-- FontAwesome for Icons -->

        <script src="https://kit.fontawesome.com/9d5c1d7424.js" crossorigin="anonymous"></script>

    </head>

    <body>

        <%- include('includes/navigation.ejs'); %>

        <main>

            <div class="userComponent">

                <h1 class="userComponent__header">
                    User List
                    <span class="iconSpace"><i class="far fa-user"></i></span>
                </h1>
                
                <ul class="userList">
                    <li class="userList__item">Robert Hieger</li>
                    <li class="userList__item">Alyssa Samuels</li>
                    <li class="userList__item">Brian Nevins</li>
                    <li class="userList__item">Ashley Roberts</li>
                </ul>

                <a class="addUser" href="/">add a user</a>

            </div>  <!-- END userComponent -->

        </main>     <!-- END main -->
        
    <%- include('includes/end.ejs'); %>
