<%# 404 Error Page Template %>

<%- include('includes/head.ejs') %>

</head>

    <body>

        

        <main>

            <h1>ERROR 404: Page Not Found!</h1>

        </main> <!-- END main -->
    
    </body>

</html>
